<div class="header">
  <app-header></app-header>
</div>
<div class="pages">
  <!-- <app-page></app-page> -->
  <router-outlet></router-outlet>
  <!-- Breadcrumb-->
  <div class="breadcrumb-holder" style="background-color:#c7ea46;">
    <div class="container-fluid">
      <ul class="breadcrumb" style="background-color:#c7ea46;">
        <li class="breadcrumb-item"><a routerLink="home" (click)="backhome()">Trang chủ</a></li>
        <li class="breadcrumb-item active">Kiểm tra</li>
      </ul>
    </div>
  </div>
  <div id="container-fluid">
        <div class="menubar" style="text-align:center;background-color:white;">
            <h2 id="demo" style="font-family:helvetica,sans-serif;font-weight:bolder;font-size:120%;color:#f50000;padding-top:0.3em;letter-spacing:1px;">
            </h2>
            <h2 id="message" style="font-family:helvetica,sans-serif;font-weight:bolder;font-size:120%;color:#f50000;padding-top:0.3em;letter-spacing:1px;">
             Chúc bạn thi thành công.
              </h2>
        </div><br>
            <h2 style="text-align:center;font-family:helvetica,sans-serif;font-weight:bolder;font-size:120%;color:#f50000;padding-top:0.3em;letter-spacing:1px;">Tài khoản sinh viên: {{info?.username}}
              </h2>
                <form #haha = "ngForm">
                <div class="tc" *ngFor="let exam of pagedItems"> 
                  <div *ngFor =" let stdanswer of pagedAnser">
                  <div style="width:96.8%;text-align:left;margin-left:2%;margin-top:2px;font-size:120%;font-weight:bold;margin-bottom:0;color:Red;padding:2px 2px 2px 2px;">Câu {{pager?.currentPage}}</div>
                  <textarea cols="100" rows="8" name="question" readonly style="width:96.8%;text-align:left;margin-left:2%;margin-top:2px;font-size:120%;font-weight:bold;margin-bottom:0;color:#0000ff;padding:2px 2px 2px 2px;">{{exam.question}}</textarea>
                  <table border="0" width="100%" class="ntab" style="width:96.8%;text-align:left;margin-left:2%;margin-top:2px;font-size:120%;font-weight:bold;margin-bottom:0;color:Red;padding:2px 2px 2px 2px;">
                      <tr><td ><input type="radio" name="{{exam.optiona}}"  value="optiona" [(ngModel)]="stdanswer.stdanswer"  (click)="updateAnswer(optiona.value, stdanswer)" #optiona>A. {{exam.optiona}}</td></tr>
                      <tr><td ><input type="radio" name="{{exam.optionb}}"  value="optionb"  [(ngModel)]="stdanswer.stdanswer" (click)="updateAnswer(optionb.value, stdanswer)" #optionb>B. {{exam.optionb}}</td></tr>
                      <tr><td ><input type="radio" name="{{exam.optionc}}"  value="optionc" [(ngModel)]="stdanswer.stdanswer"  (click)="updateAnswer(optionc.value, stdanswer)" #optionc>C. {{exam.optionc}}</td></tr>
                      <tr><td ><input type="radio" name="{{exam.optiond}}"  value="optiond" [(ngModel)]="stdanswer.stdanswer"  (click)="updateAnswer(optiond.value, stdanswer)" #optiond>D. {{exam.optiond}}</td></tr>
                      <tr><td>&nbsp;</td></tr>
                  </table>
                </div>
                </div>
                <div style="display:flex; text-align:center; justify-content:center">
                    <h4><input type="submit" (click)="mark(exam, stdanswer)" class="ssubbtn check"/></h4>
                    <span ><h4 *ngIf="pager.currentPage !== pager.totalPages"><input type="submit" (click)="setPage(pager.currentPage + 1)" value="Tiếp" class="ssubbtn"/></h4></span>
                    <div *ngIf="pager.currentPage !== 1"><h4><input type="submit" (click)="setPage(pager.currentPage - 1)" value="Trở Về" class="ssubbtn"/></h4></div>
                </div>
              </form>
                
              
</div>
</div>
